<%- include('../partials/header', { title: 'Login' }) %>

<main>
    <h2>Login</h2>

    <% if (typeof errors !== 'undefined' && errors && errors.length) { %>
        <div class="errors">
            <ul>
                <% errors.forEach(function(err){ %>
                    <li><%= err %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <div class="form-container">
        <form action="/login" method="post">
            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" required autofocus />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" required />
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <p style="text-align:center;margin-top:1.5rem;">Don't have an account? <a href="/register">Register</a></p>
</main>

<%- include('../partials/footer') %>
